*.jsonl
*.pyc

/logs
/.venv/Lib/site-packages/matplotlib/tests
/.venv/Lib/site-packages/numpy-2.4.2.dist-info
/.venv/Lib/site-packages
/.venv
.python-version
*.log
logs/cn616a_gui_fault.log
logs/cn616a_gui_error.log
py/recipe_table_to_json.py
